body {
	background: #FAFAFA;
	color: #5C5C5C;
}
a {
    color: #FF7600;
}

body > .container:first-child{
    margin-top:4em;
}

.row-bg {
    background: #fff;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #E8E8E8;
    padding: 15px;
}

section .btn-default {
    background: #FFA826;
    border: none;
    border-bottom: 2px solid #F3487F;
    color: #fff;
    font-weight: bold;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.18), 0px 1px 10px rgba(0, 0, 0, 0.12);
}
section .btn-default:hover {
    background: #FF7600;
    color: #fff;
    border-bottom: 2px solid #F3487F;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3), 0px 1px 5px rgba(0, 0, 0, 0.05);
}
section .form-control {
    padding-left: 15px;
}   
.lang-selector a {
    display: inline-block;
    background: #fff;
    box-shadow: 0 0 2px #FF7600;
    font-weight: bold;
    border-radius: 90%;
    padding: 0.2em 0.35em;
    color: #FF7600;
    text-align: center;
    font-size: 10pt;
}
section .form-control:hover,
.form-control:focus {
    box-shadow: none;
    border: 1px solid #FFA826;
}

section.row.errors-notification {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right:1em;
}
nav {
    background: rgb(255, 255, 255);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.23), 0 0 15px rgba(0, 0, 0, 0.15);
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 5;
    top: 0;
}
nav ul {
    list-style: none;
    margin-bottom: 0;
    height: auto;
}
nav ul li {
    display: inline-block;
    margin: 0.5em 2em;
    font-weight: bold;
}
.form-control.success {
    box-shadow: none;
    border-color: #F3487F;
}

form div.warning {
    color: #F34848;
    font-weight: bold;
    border-bottom: 2px solid #F34848;
}

.form-control.warning {
    border: 1px solid #F34848;
}
